
@model OzLearningHub.Models.FreeBirdModel

@{
    ViewBag.Title = "Bird";
}

<h2 style="margin-left: 10px;">Assignment for Lessons 7-9: Free Bird</h2>

<div style="margin-left: 10px;">
    <p>Name: @Model.Name</p>
    <p>Age: @Model.Age</p>
    <p>Color: @Model.Color</p>
</div>